/* Section benefits  */

.benefits {
	color: $title-text-color;
	display: flex;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.benefits-list {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
}

.benefits-list:nth-child(4n) {
	margin-right: 0px;
}

.benefits-list-image {
	width: 270px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.benefits-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 10px;
	margin-top: 0px;
}

.benefits .text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.benefits-text {
	margin-bottom: 0px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
}

.svg-item-benefits {
	width: 70px;
	height: 70px;
}