.container-site-nav {
	display: flex;
	align-items: center;
}

.site-nav {
	color: $primary-text-color;
	display: flex;
	align-items: center;
}

.site-nav .link.current {
	color: $accent-color;
}

.logo {
	display: block;

	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	line-height: 1.2;

	color: $title-text-color;
}

.accent-logo {
	color: $accent-color;
}

.site-nav-list {
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 85px;
	padding-left: 0px;
}

.site-nav-item {
	position: relative;
}

.site-nav-item:not(:last-child) {
	margin-right: 50px;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
	color: $accent-color;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-list .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-decoration: none;
	color: $title-text-color;

	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-block;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current::after {
	content: "";

	position: absolute;
	bottom: 0;
	transform: translateX(-100%);

	height: 4px;
	width: 100%;
	border-radius: 2px;

	background: $accent-color;
}

.contacts-list {
	display: flex;
	margin-left: auto;
	padding-left: 0px;
}

.contacts-item {
	margin-right: 30px;
	display: inline-flex;
}

.contacts-item:nth-child(2) {
	margin-right: 0px;
}

.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: $primary-text-color;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-item {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover .svg-item,
.contacts-item:hover .contacts-text {
	fill: $accent-color;
	color: $accent-color;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
